.DS_Store
.idea
/backup/*
/dump/*
.ddev/docker-compose.yaml
/var/*

!/app/
/app/*
!/app/web/
/app/web/*
!/app/web/.htaccess
!/app/web/typo3conf/
/app/web/typo3conf/*
!/app/web/typo3conf/LocalConfiguration.php
!/app/web/typo3conf/AdditionalConfiguration.php
!/backup/.gitkeep
/tmp
auth.json
